#movieCard {
    height: 30vw;
    width: 20vw;
    background-color: beige;
    border-radius: 2vw;
    margin: 2vw;
}

@media(max-width:800px) {
    #movieCard {
        height: 45vw;
        width: 30vw;
        border-radius: 5vw;
        margin: 3vw;
    }
}

@media(max-width:400px) {
    #movieCard {
        height: 80vw;
        width: 60vw;
        border-radius: 5vw;
        margin: 5vw 20vw;
    }
}